:root{
    --bg-primary: #0f0f0f;
    --bg-secondary: #1f1f1f;
    --btn-bg: #2d2d2d;
    --btn-hover: #3d3d3d;
    --accent: #ff9500;
    --control-hover: #ff9500c7;

    --text-primary: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background: var(--bg-primary);
    color: var(--text-primary);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container{
    width: 100%;
    max-width: 380px;
    background: var(--bg-secondary);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* Title */
.container h2{
    text-align: center;
    margin-bottom: 10px;
}

/* Screen */
.screen{
    height: 80px;
    background: #000;
    border-radius: 12px;
    padding: 15px;
    font-size: 28px;
    text-align: right;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Buttons grid */
.controls{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Buttons */
.btn{
    padding: 18px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    background: var(--btn-bg);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover{
    background: var(--btn-hover);
}

/* Operator buttons */
.btn:nth-child(4n){
    background: var(--accent);
}

.btn:nth-child(4n):hover{
    background: var(--control-hover);
}

.btn:last-child{
    grid-column : span 4;
    background: var(--accent);
}

.btn:last-child:hover{
    background: var(--control-hover);
}

/* Equal button special */
.btn:nth-child(19){
    background: var(--accent);
    font-weight: bold;
}

.btn:nth-child(19):hover{
    background: var(--control-hover);
}

/* Mobile Responsive */
@media (max-width: 480px){
    .container{
        max-width: 95%;
        padding: 10px;
    }

    .screen{
        font-size: 22px;
        height: 70px;
    }

    .btn{
        padding: 14px;
        font-size: 18px;
    }
}